@model UdemyProject.Models.EntityFramework.tbldersler
@{
    ViewBag.Title = "DersGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Default", FormMethod.Post))
  {
    <div class="form-group">
        @Html.LabelFor(m => m.dersad)
        @Html.TextBoxFor(m =>m.dersad, new { @class= "form-control"})
    </div>
    @Html.HiddenFor(m=> m.dersıd)
    <div style="margin-top:15px">
        <button class="btn btn-info">Güncelle</button>
    </div>
  }

